






.boton{

	font-family: 'New Rocker', cursive;
		display: inline-block;
		color: black;
		padding: 1em 2em;
		margin-top: 50px;
		margin-bottom: 20px;
		-webkit-appearance: none;
		appearance: none;
	background-color: white;
		
		border-radius: 4px;
		border: none;
		cursor: pointer;
		position: relative;
		transition: transform ease-in 0.1s, box-shadow ease-in 0.15s;
		box-shadow: 0 2px 25px  rgb(117, 63, 205);
		
		
  }



  .letter{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2px;
  }

  .imagen-item{
height: 25%;
width: 25%;
  }